@charset "utf-8";

#wrap{
    width: 80%;
    margin: 30px auto;
    font-size: 2em;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    /* border: 1px solid #000; */
}


header, section, footer {
    border-radius: 10px;
}

header {
    height: 100px;
    background-color: gray;
}

footer {
    height: 100px;
    background-color: brown;
}